# Analysis

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

In [2]:
df_train = pd.read_csv("data/train.csv")
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df_train.loc[df_train["Sex"] == "male", "Sex"] = 1
df_train.loc[df_train["Sex"] == "female", "Sex"] = 0

df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df_train["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [6]:
onehotObject_ticket = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_ticket.fit(np.array(df_train["Pclass"]).reshape(-1, 1))

tickets_columns = ["ticket_{0}".format(i) for i in onehotObject_ticket.categories_[0]]

onehot_ticket = pd.DataFrame(onehotObject_ticket.transform(np.array(df_train["Pclass"]).reshape(-1, 1)).toarray().astype(int), columns = tickets_columns)

df_merged = pd.merge(df_train, onehot_ticket, left_index = True, right_index = True)

df_merged.drop("Pclass", axis = 1, inplace = True)

df_merged

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_1,ticket_2,ticket_3
0,1,0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,1,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S,0,1,0
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S,1,0,0
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0,1
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C,1,0,0
890,891,0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q,0,0,1

In [7]:
df_train = df_merged

In [8]:
df_train["Embarked"].fillna("N", inplace = True)

df_train["Embarked"].value_counts()

S    644
C    168
Q     77
N      2
Name: Embarked, dtype: int64

In [9]:
onehotObject_embarked = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_embarked.fit(np.array(df_train["Embarked"]).reshape(-1, 1))

embarked_columns = ["embarked_{0}".format(i) for i in onehotObject_embarked.categories_[0]]

onehotObject_embarked = pd.DataFrame(onehotObject_embarked.transform(np.array(df_train["Embarked"]).reshape(-1, 1)).toarray().astype(int), columns = embarked_columns)

df_merged = pd.merge(df_train, onehotObject_embarked, left_index = True, right_index = True)

df_merged.drop("Embarked", axis = 1, inplace = True)

df_merged

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,ticket_1,ticket_2,ticket_3,embarked_C,embarked_N,embarked_Q,embarked_S
0,1,0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,0
2,3,1,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,1,0,0,0,0,0,1
4,5,0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,0,1,0,0,0,0,1
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,1,0,0,0,0,0,1
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,0,0,1,0,0,0,1
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,1,0,0,1,0,0,0
890,891,0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,0,0,1,0,0,1,0

In [10]:
df_train = df_merged

In [11]:
df_train["Age"].fillna(-1, inplace = True)

df_train["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    -1.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [12]:
ages_ = ["is_baby", "is_kid", "is_teen", "is_middle", "is_old"]

df_train["is_baby"] = (df_train["Age"] <= 5) & (df_train["Age"] > 0)
df_train["is_kid"] = (df_train["Age"] <= 12) & (df_train["Age"] > 5)
df_train["is_teen"] = (df_train["Age"] <= 20) & (df_train["Age"] > 12)
df_train["is_middle"] = (df_train["Age"] <= 60) & (df_train["Age"] > 20)
df_train["is_old"] = (df_train["Age"] > 60)


df_train

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,ticket_3,embarked_C,embarked_N,embarked_Q,embarked_S,is_baby,is_kid,is_teen,is_middle,is_old
0,1,0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,...,1,0,0,0,1,False,False,False,True,False
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,...,0,1,0,0,0,False,False,False,True,False
2,3,1,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,...,1,0,0,0,1,False,False,False,True,False
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,...,0,0,0,0,1,False,False,False,True,False
4,5,0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,...,1,0,0,0,1,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,...,0,0,0,0,1,False,False,False,True,False
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,...,0,0,0,0,1,False,False,True,False,False
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,-1.0,1,2,W./C. 6607,23.4500,NaN,...,1,0,0,0,1,False,False,False,False,False
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,...,0,1,0,0,0,False,False,False,True,False
890,891,0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,...,1,0,0,1,0,False,False,False,True,False

In [13]:
df_train["Cabin"].isna().sum()

687

In [14]:
df_train['Cabin'].fillna('N', inplace = True)

In [15]:
onehotObject_cabin = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_cabin.fit(np.array(df_train["Cabin"]).reshape(-1, 1))

cabins_columns = ["cabin_{0}".format(i) for i in onehotObject_cabin.categories_[0]]

onehotObject_cabin = pd.DataFrame(onehotObject_cabin.transform(np.array(df_train["Cabin"]).reshape(-1, 1)).toarray().astype(int), columns = cabins_columns)

df_merged = pd.merge(df_train, onehotObject_cabin, left_index = True, right_index = True)

df_merged.drop("Cabin", axis = 1, inplace = True)

df_merged

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,ticket_1,...,cabin_F E69,cabin_F G63,cabin_F G73,cabin_F2,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_N,cabin_T
0,1,0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,0,...,0,0,0,0,0,0,0,0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,0,...,0,0,0,0,0,0,0,0,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,1,...,0,0,0,0,0,0,0,0,0,0
4,5,0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,0,...,0,0,0,0,0,0,0,0,1,0
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,1,...,0,0,0,0,0,0,0,0,0,0
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,-1.0,1,2,W./C. 6607,23.4500,0,...,0,0,0,0,0,0,0,0,1,0
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,1,...,0,0,0,0,0,0,0,0,0,0
890,891,0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
df_train = df_merged

In [17]:
df_train

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,ticket_1,...,cabin_F E69,cabin_F G63,cabin_F G73,cabin_F2,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_N,cabin_T
0,1,0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,0,...,0,0,0,0,0,0,0,0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,0,...,0,0,0,0,0,0,0,0,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,1,...,0,0,0,0,0,0,0,0,0,0
4,5,0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,0,...,0,0,0,0,0,0,0,0,1,0
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,1,...,0,0,0,0,0,0,0,0,0,0
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",0,-1.0,1,2,W./C. 6607,23.4500,0,...,0,0,0,0,0,0,0,0,1,0
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,1,...,0,0,0,0,0,0,0,0,0,0
890,891,0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,0,...,0,0,0,0,0,0,0,0,1,0

# Train

In [25]:
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import roc_auc_score

import copy

In [26]:
random_state_ = 42

cat_features_ = ["Sex", "SibSp", "Parch"] + ages_ + tickets_columns + embarked_columns + cabins_columns

X_features = np.array(cat_features_ + ['Fare', 'Age'])
y = "Survived"

XTrain, XTest, YTrain, YTest = train_test_split(df_train[X_features], df_train[y], test_size = 0.33, random_state = random_state_)

In [27]:
model_cbc = CatBoostClassifier(random_state = random_state_,
                               learning_rate = 0.03,
                               n_estimators = 1000,
                               max_depth = 6,
                               loss_function = 'Logloss',
                               silent = True)

model_cbc.fit(XTrain, YTrain, cat_features = cat_features_)

In [31]:
roc_auc_score(YTest, model_cbc.predict_proba(XTest).T[1])

0.9004761904761904

In [32]:
feature_importances = model_cbc.feature_importances_

X_features, feature_importances.astype(float)

(array(['Sex', 'SibSp', 'Parch', 'is_baby', 'is_kid', 'is_teen',
        'is_middle', 'is_old', 'ticket_1', 'ticket_2', 'ticket_3',
        'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S',
        'cabin_A10', 'cabin_A14', 'cabin_A16', 'cabin_A19', 'cabin_A20',
        'cabin_A23', 'cabin_A24', 'cabin_A26', 'cabin_A31', 'cabin_A32',
        'cabin_A34', 'cabin_A36', 'cabin_A5', 'cabin_A6', 'cabin_A7',
        'cabin_B101', 'cabin_B102', 'cabin_B18', 'cabin_B19', 'cabin_B20',
        'cabin_B22', 'cabin_B28', 'cabin_B3', 'cabin_B30', 'cabin_B35',
        'cabin_B37', 'cabin_B38', 'cabin_B39', 'cabin_B4', 'cabin_B41',
        'cabin_B42', 'cabin_B49', 'cabin_B5', 'cabin_B50',
        'cabin_B51 B53 B55', 'cabin_B57 B59 B63 B66', 'cabin_B58 B60',
        'cabin_B69', 'cabin_B71', 'cabin_B73', 'cabin_B77', 'cabin_B78',
        'cabin_B79', 'cabin_B80', 'cabin_B82 B84', 'cabin_B86',
        'cabin_B94', 'cabin_B96 B98', 'cabin_C101', 'cabin_C103',
        'cabin_C104', 'cabin_C106', 'cabin_C110', 'cabin_C111',
        'cabin_C118', 'cabin_C123', 'cabin_C124', 'cabin_C125',
        'cabin_C126', 'cabin_C128', 'cabin_C148', 'cabin_C2',
        'cabin_C22 C26', 'cabin_C23 C25 C27', 'cabin_C30', 'cabin_C32',
        'cabin_C45', 'cabin_C46', 'cabin_C47', 'cabin_C49', 'cabin_C50',
        'cabin_C52', 'cabin_C54', 'cabin_C62 C64', 'cabin_C65',
        'cabin_C68', 'cabin_C7', 'cabin_C70', 'cabin_C78', 'cabin_C82',
        'cabin_C83', 'cabin_C85', 'cabin_C86', 'cabin_C87', 'cabin_C90',
        'cabin_C91', 'cabin_C92', 'cabin_C93', 'cabin_C95', 'cabin_C99',
        'cabin_D', 'cabin_D10 D12', 'cabin_D11', 'cabin_D15', 'cabin_D17',
        'cabin_D19', 'cabin_D20', 'cabin_D21', 'cabin_D26', 'cabin_D28',
        'cabin_D30', 'cabin_D33', 'cabin_D35', 'cabin_D36', 'cabin_D37',
        'cabin_D45', 'cabin_D46', 'cabin_D47', 'cabin_D48', 'cabin_D49',
        'cabin_D50', 'cabin_D56', 'cabin_D6', 'cabin_D7', 'cabin_D9',
        'cabin_E10', 'cabin_E101', 'cabin_E12', 'cabin_E121', 'cabin_E17',
        'cabin_E24', 'cabin_E25', 'cabin_E31', 'cabin_E33', 'cabin_E34',
        'cabin_E36', 'cabin_E38', 'cabin_E40', 'cabin_E44', 'cabin_E46',
        'cabin_E49', 'cabin_E50', 'cabin_E58', 'cabin_E63', 'cabin_E67',
        'cabin_E68', 'cabin_E77', 'cabin_E8', 'cabin_F E69', 'cabin_F G63',
        'cabin_F G73', 'cabin_F2', 'cabin_F33', 'cabin_F38', 'cabin_F4',
        'cabin_G6', 'cabin_N', 'cabin_T', 'Fare', 'Age'], dtype='<U21'),
 array([2.87053958e+01, 8.82912129e+00, 8.49712286e+00, 2.55886707e+00,
        5.27264406e-01, 8.73383042e-01, 9.67836994e-01, 1.25848995e-02,
        2.42409906e-01, 2.63067008e+00, 8.96244984e+00, 1.54632378e+00,
        3.70122903e-03, 7.84769067e-01, 1.48244402e+00, 2.51412808e-02,
        3.87824431e-04, 2.41934098e-04, 4.05211093e-03, 0.00000000e+00,
        2.99572685e-02, 1.35689678e-02, 5.82459538e-02, 0.00000000e+00,
        5.45594623e-03, 0.00000000e+00, 5.05206186e-04, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.55875928e-03, 3.53071504e-04,
        0.00000000e+00, 6.54481509e-04, 5.96261603e-02, 1.17906321e-03,
        3.40044010e-04, 0.00000000e+00, 0.00000000e+00, 7.71957952e-03,
        1.05639618e-02, 0.00000000e+00, 0.00000000e+00, 2.12088841e-05,
        6.27539658e-02, 0.00000000e+00, 3.19484787e-02, 0.00000000e+00,
        3.78838502e-02, 1.83530318e-03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.12761452e-03, 0.00000000e+00, 2.14213194e-04,
        0.00000000e+00, 0.00000000e+00, 1.95254356e-07, 8.42024283e-03,
        0.00000000e+00, 4.14710596e-03, 1.40893686e-03, 9.54884333e-05,
        4.27884675e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        2.16018198e-02, 9.52950545e-03, 4.10128310e-05, 2.72497134e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        6.73135239e-03, 2.75907137e-01, 2.31852717e-04, 1.39408815e-04,
        0.00000000e+00, 0.00000000e+00, 9.19533103e-04, 6.66054282e-02,
        1.61601696e-01, 4.99778396e-06, 0.00000000e+00, 0.00000000e+00,
        1.91553187e-06, 1.97567715e-02, 1.47978638e-02, 6.44153713e-05,
        2.23568344e-02, 2.48666013e-03, 0.00000000e+00, 1.09249397e-02,
        2.64310039e-04, 0.00000000e+00, 1.11535261e-04, 0.00000000e+00,
        0.00000000e+00, 4.01567251e-02, 8.23127766e-02, 0.00000000e+00,
        1.21440632e-05, 2.80910329e-06, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.15867496e-05,
        0.00000000e+00, 6.10470629e-03, 0.00000000e+00, 2.13292591e-03,
        9.23416078e-02, 1.63279052e-01, 5.01038677e-03, 3.24376906e-03,
        9.25032696e-02, 2.97160336e-03, 0.00000000e+00, 0.00000000e+00,
        1.79124297e-02, 0.00000000e+00, 8.25368209e-02, 1.95205457e-03,
        0.00000000e+00, 0.00000000e+00, 9.23508249e-02, 2.56417792e-03,
        9.14771343e-02, 4.81475618e-02, 9.72421353e-02, 2.62977071e-01,
        0.00000000e+00, 6.05304695e-04, 4.34267463e-04, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.45900942e-03, 2.19226528e-03,
        1.81588929e-03, 0.00000000e+00, 4.02734604e-02, 1.44462348e-05,
        0.00000000e+00, 8.92767125e-04, 0.00000000e+00, 0.00000000e+00,
        1.13364046e-01, 2.56208637e-04, 0.00000000e+00, 2.74838844e-03,
        2.85868904e-03, 1.11831931e-03, 8.63093958e-04, 1.00107452e-03,
        8.89909455e-02, 2.43142733e+00, 3.83866443e-03, 1.71136781e+01,
        1.13850688e+01]))

In [35]:
features_scores = []

features_all = ["Sex", "SibSp", "Parch", "Age", "Fare", embarked_columns, tickets_columns, ages_]

for feature in features_all:
    print("---{0}---".format(feature))
    if (type(feature) == str): feature = [feature]

    _cat = None
    
    if (len(set(feature) & set(cat_features_)) > 0):
        _cat = list(set(feature) & set(cat_features_))
    
    XTrain, XTest, YTrain, YTest = train_test_split(df_train[feature], df_train[y], test_size = 0.33, random_state = random_state_)
    model = CatBoostClassifier(random_state = random_state_,
                               learning_rate = 0.03,
                               n_estimators = 1000,
                               max_depth = 6,
                               loss_function = 'Logloss',
                               silent = True)
    
    if (_cat): model.fit(XTrain, YTrain, cat_features = _cat)
    else: model.fit(XTrain, YTrain)
    
    score = roc_auc_score(YTest, model.predict_proba(XTest).T[1])
    
    print("ROC AUC: {0}".format(score))
    
    features_scores.append(score)

---Sex---
ROC AUC: 0.7814285714285715
---SibSp---
ROC AUC: 0.5800238095238095
---Parch---
ROC AUC: 0.569952380952381
---Age---
ROC AUC: 0.5514285714285714
---Fare---
ROC AUC: 0.7475476190476191
---['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S']---
ROC AUC: 0.5625238095238095
---['ticket_1', 'ticket_2', 'ticket_3']---
ROC AUC: 0.7044761904761905
---['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old']---
ROC AUC: 0.5409761904761905

In [36]:
features_sorted = list(map(lambda x: features_all[features_scores.index(x)], sorted(features_scores)))

features_sorted

[['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old'],
 'Age',
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S'],
 'Parch',
 'SibSp',
 ['ticket_1', 'ticket_2', 'ticket_3'],
 'Fare',
 'Sex']

In [37]:
features_groups = []

i = 0

for feature_i in features_sorted:
    for feature_j in features_sorted:
        if (feature_i == feature_j): continue
        if (type(feature_i) == list and type(feature_j) == list):
            features_groups.append(feature_i + feature_j)
        else:
            if (type(feature_i) == list):
                feature_i_copy = copy.copy(feature_i)
                feature_i_copy.append(feature_j)
                features_groups.append(feature_i_copy)
            elif (type(feature_j) == list):
                feature_j_copy = copy.copy(feature_j)
                feature_j_copy.append(feature_i)
                features_groups.append(feature_j_copy)
            else:
                features_groups.append([feature_i, feature_j])

features_all = features_sorted + features_groups

features_all

[['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old'],
 'Age',
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S'],
 'Parch',
 'SibSp',
 ['ticket_1', 'ticket_2', 'ticket_3'],
 'Fare',
 'Sex',
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age'],
 ['is_baby',
  'is_kid',
  'is_teen',
  'is_middle',
  'is_old',
  'embarked_C',
  'embarked_N',
  'embarked_Q',
  'embarked_S'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Parch'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'SibSp'],
 ['is_baby',
  'is_kid',
  'is_teen',
  'is_middle',
  'is_old',
  'ticket_1',
  'ticket_2',
  'ticket_3'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Fare'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Sex'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Age'],
 ['Age', 'Parch'],
 ['Age', 'SibSp'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Age'],
 ['Age', 'Fare'],
 ['Age', 'Sex'],
 ['embarked_C',
  'embarked_N',
  'embarked_Q',
  'embarked_S',
  'is_baby',
  'is_kid',
  'is_teen',
  'is_middle',
  'is_old'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'SibSp'],
 ['embarked_C',
  'embarked_N',
  'embarked_Q',
  'embarked_S',
  'ticket_1',
  'ticket_2',
  'ticket_3'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Fare'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Sex'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Parch'],
 ['Parch', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch'],
 ['Parch', 'SibSp'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Parch'],
 ['Parch', 'Fare'],
 ['Parch', 'Sex'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'SibSp'],
 ['SibSp', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'SibSp'],
 ['SibSp', 'Parch'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'SibSp'],
 ['SibSp', 'Fare'],
 ['SibSp', 'Sex'],
 ['ticket_1',
  'ticket_2',
  'ticket_3',
  'is_baby',
  'is_kid',
  'is_teen',
  'is_middle',
  'is_old'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Age'],
 ['ticket_1',
  'ticket_2',
  'ticket_3',
  'embarked_C',
  'embarked_N',
  'embarked_Q',
  'embarked_S'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Parch'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'SibSp'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Fare'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Sex'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Fare'],
 ['Fare', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Fare'],
 ['Fare', 'Parch'],
 ['Fare', 'SibSp'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Fare'],
 ['Fare', 'Sex'],
 ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Sex'],
 ['Sex', 'Age'],
 ['embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Sex'],
 ['Sex', 'Parch'],
 ['Sex', 'SibSp'],
 ['ticket_1', 'ticket_2', 'ticket_3', 'Sex'],
 ['Sex', 'Fare']]

In [41]:
features_current = []
scores_current = []
models_current = []

for feature in features_all:
    feature_this = copy.copy(feature)
    if (type(feature_this) == str):
        if (feature_this in features_current): continue
        features_current.append(feature_this)
    else:
        if (len(list(set(list(features_current)) & set(list(feature_this)))) > 0):
            for feature_intersection in list(set(features_current) & set(feature)):
                feature_this.remove(feature_intersection)
            if (len(feature_this) == 0): continue
        features_current += feature_this
    
    
    _cat = None
    
    if (len(set(features_current) & set(cat_features_)) > 0):
        _cat = list(set(features_current) & set(cat_features_))
    
    XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = random_state_)
    model = CatBoostClassifier(random_state = random_state_,
                               learning_rate = 0.03,
                               n_estimators = 1000,
                               max_depth = 6,
                               loss_function = 'Logloss',
                               silent = True)
    
    if (_cat): model.fit(XTrain, YTrain, cat_features = _cat)
    else: model.fit(XTrain, YTrain)
    
    score = roc_auc_score(YTest, model.predict_proba(XTest).T[1])
    
    if (len(scores_current) > 1 and score < scores_current[-1]):
        if (type(feature_this) == list):
            for _feature in feature_this:
                features_current.remove(_feature)
        else:
            features_current.remove(feature_this)
    else:
        print("{0} - {1}".format(features_current, score))
        scores_current.append(score)
        models_current.append(model)

['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old'] - 0.5409761904761905
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age'] - 0.555595238095238
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S'] - 0.5999523809523809
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch'] - 0.6347619047619047
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch', 'SibSp'] - 0.7209285714285714
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch', 'SibSp', 'ticket_1', 'ticket_2', 'ticket_3'] - 0.7859761904761904
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch', 'SibSp', 'ticket_1', 'ticket_2', 'ticket_3', 'Fare'] - 0.7877857142857143
['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch', 'SibSp', 'ticket_1', 'ticket_2', 'ticket_3', 'Fare', 'Sex'] - 0.8959761904761905

In [42]:
scores_current[-1]

0.8959761904761905

In [43]:
print("Best features: {0}".format(features_current))

Best features: ['is_baby', 'is_kid', 'is_teen', 'is_middle', 'is_old', 'Age', 'embarked_C', 'embarked_N', 'embarked_Q', 'embarked_S', 'Parch', 'SibSp', 'ticket_1', 'ticket_2', 'ticket_3', 'Fare', 'Sex']

In [44]:
XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = random_state_)
model = CatBoostClassifier(random_state = random_state_,
                           learning_rate = 0.03,
                           n_estimators = 1000,
                           max_depth = 6,
                           loss_function = 'Logloss',
                           silent = True)

In [45]:
model.fit(XTrain, YTrain, cat_features = list(set(features_current) & set(cat_features_)))

In [47]:
roc_auc_score(YTest, model.predict_proba(XTest).T[1])

0.8959761904761905

In [48]:
XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = random_state_)
model_grid = CatBoostClassifier(silent = True, loss_function = 'Logloss')

In [50]:
grid = {"n_estimators": np.arange(300, 1100, 100),
       "max_depth": np.arange(2, 9, 1),
       "learning_rate": np.arange(0.01, 0.06, 0.01),
       "random_state": [random_state_]}

In [51]:
params = model_grid.grid_search(grid, XTrain, YTrain)

bestTest = 0.4298784139
bestIteration = 299

0:	loss: 0.4298784	best: 0.4298784 (0)	total: 140ms	remaining: 39s

bestTest = 0.4131285068
bestIteration = 299

1:	loss: 0.4131285	best: 0.4131285 (1)	total: 243ms	remaining: 33.8s

bestTest = 0.4083295654
bestIteration = 295

2:	loss: 0.4083296	best: 0.4083296 (2)	total: 346ms	remaining: 32s

bestTest = 0.4050915831
bestIteration = 255

3:	loss: 0.4050916	best: 0.4050916 (3)	total: 456ms	remaining: 31.5s

bestTest = 0.4004253465
bestIteration = 255

4:	loss: 0.4004253	best: 0.4004253 (4)	total: 563ms	remaining: 31s

bestTest = 0.4197577422
bestIteration = 399

5:	loss: 0.4197577	best: 0.4004253 (4)	total: 699ms	remaining: 31.9s

bestTest = 0.4096537297
bestIteration = 398

6:	loss: 0.4096537	best: 0.4004253 (4)	total: 840ms	remaining: 32.8s

bestTest = 0.4051403149
bestIteration = 393

7:	loss: 0.4051403	best: 0.4004253 (4)	total: 975ms	remaining: 33.1s

bestTest = 0.4050915831
bestIteration = 255

8:	loss: 0.4050916	best: 0.4004253 (4)	total: 1.26s	remaining: 38s

bestTest = 0.4004253465
bestIteration = 255

9:	loss: 0.4004253	best: 0.4004253 (4)	total: 1.42s	remaining: 38.4s

bestTest = 0.4155277319
bestIteration = 499

10:	loss: 0.4155277	best: 0.4004253 (4)	total: 1.63s	remaining: 39.9s

bestTest = 0.4090452459
bestIteration = 420

11:	loss: 0.4090452	best: 0.4004253 (4)	total: 1.84s	remaining: 41.1s

bestTest = 0.4040994227
bestIteration = 461

12:	loss: 0.4040994	best: 0.4004253 (4)	total: 2.06s	remaining: 42.2s

bestTest = 0.4050915831
bestIteration = 255

13:	loss: 0.4050916	best: 0.4004253 (4)	total: 2.29s	remaining: 43.4s

bestTest = 0.4004253465
bestIteration = 255

14:	loss: 0.4004253	best: 0.4004253 (4)	total: 2.5s	remaining: 44.1s

bestTest = 0.4138448674
bestIteration = 596

15:	loss: 0.4138449	best: 0.4004253 (4)	total: 2.76s	remaining: 45.5s

bestTest = 0.4089346703
bestIteration = 504

16:	loss: 0.4089347	best: 0.4004253 (4)	total: 3s	remaining: 46.5s

bestTest = 0.4040994227
bestIteration = 461

17:	loss: 0.4040994	best: 0.4004253 (4)	total: 3.27s	remaining: 47.6s

bestTest = 0.4050915831
bestIteration = 255

18:	loss: 0.4050916	best: 0.4004253 (4)	total: 3.52s	remaining: 48.3s

bestTest = 0.4004253465
bestIteration = 255

19:	loss: 0.4004253	best: 0.4004253 (4)	total: 3.76s	remaining: 48.9s

bestTest = 0.412368304
bestIteration = 699

20:	loss: 0.4123683	best: 0.4004253 (4)	total: 4.05s	remaining: 50s

bestTest = 0.4082581561
bestIteration = 660

21:	loss: 0.4082582	best: 0.4004253 (4)	total: 4.34s	remaining: 50.9s

bestTest = 0.4040355385
bestIteration = 601

22:	loss: 0.4040355	best: 0.4004253 (4)	total: 4.64s	remaining: 51.9s

bestTest = 0.4050915831
bestIteration = 255

23:	loss: 0.4050916	best: 0.4004253 (4)	total: 4.97s	remaining: 53s

bestTest = 0.4004253465
bestIteration = 255

24:	loss: 0.4004253	best: 0.4004253 (4)	total: 5.25s	remaining: 53.6s

bestTest = 0.4094720312
bestIteration = 799

25:	loss: 0.4094720	best: 0.4004253 (4)	total: 5.6s	remaining: 54.7s

bestTest = 0.4082581561
bestIteration = 660

26:	loss: 0.4082582	best: 0.4004253 (4)	total: 5.94s	remaining: 55.6s

bestTest = 0.4040355385
bestIteration = 601

27:	loss: 0.4040355	best: 0.4004253 (4)	total: 6.27s	remaining: 56.4s

bestTest = 0.4050915831
bestIteration = 255

28:	loss: 0.4050916	best: 0.4004253 (4)	total: 6.61s	remaining: 57.2s

bestTest = 0.4004253465
bestIteration = 255

29:	loss: 0.4004253	best: 0.4004253 (4)	total: 6.95s	remaining: 57.9s

bestTest = 0.407116726
bestIteration = 898

30:	loss: 0.4071167	best: 0.4004253 (4)	total: 7.32s	remaining: 58.8s

bestTest = 0.4082581561
bestIteration = 660

31:	loss: 0.4082582	best: 0.4004253 (4)	total: 7.69s	remaining: 59.6s

bestTest = 0.4040355385
bestIteration = 601

32:	loss: 0.4040355	best: 0.4004253 (4)	total: 8.06s	remaining: 1m

bestTest = 0.4050915831
bestIteration = 255

33:	loss: 0.4050916	best: 0.4004253 (4)	total: 8.43s	remaining: 1m 1s

bestTest = 0.4004253465
bestIteration = 255

34:	loss: 0.4004253	best: 0.4004253 (4)	total: 8.8s	remaining: 1m 1s

bestTest = 0.4058185526
bestIteration = 956

35:	loss: 0.4058186	best: 0.4004253 (4)	total: 9.2s	remaining: 1m 2s

bestTest = 0.4082581561
bestIteration = 660

36:	loss: 0.4082582	best: 0.4004253 (4)	total: 9.62s	remaining: 1m 3s

bestTest = 0.4040355385
bestIteration = 601

37:	loss: 0.4040355	best: 0.4004253 (4)	total: 10s	remaining: 1m 3s

bestTest = 0.4050915831
bestIteration = 255

38:	loss: 0.4050916	best: 0.4004253 (4)	total: 10.7s	remaining: 1m 5s

bestTest = 0.4004253465
bestIteration = 255

39:	loss: 0.4004253	best: 0.4004253 (4)	total: 11.2s	remaining: 1m 7s

bestTest = 0.4098254168
bestIteration = 297

40:	loss: 0.4098254	best: 0.4004253 (4)	total: 11.3s	remaining: 1m 6s

bestTest = 0.3986496094
bestIteration = 273

41:	loss: 0.3986496	best: 0.3986496 (41)	total: 11.5s	remaining: 1m 5s

bestTest = 0.3909456291
bestIteration = 297

42:	loss: 0.3909456	best: 0.3909456 (42)	total: 11.8s	remaining: 1m 4s

bestTest = 0.3924340739
bestIteration = 263

43:	loss: 0.3924341	best: 0.3909456 (42)	total: 11.9s	remaining: 1m 3s

bestTest = 0.3936175897
bestIteration = 193

44:	loss: 0.3936176	best: 0.3909456 (42)	total: 12.1s	remaining: 1m 3s

bestTest = 0.4045283484
bestIteration = 399

45:	loss: 0.4045283	best: 0.3909456 (42)	total: 12.3s	remaining: 1m 2s

bestTest = 0.3971016016
bestIteration = 397

46:	loss: 0.3971016	best: 0.3909456 (42)	total: 12.5s	remaining: 1m 2s

bestTest = 0.3899270138
bestIteration = 358

47:	loss: 0.3899270	best: 0.3899270 (47)	total: 12.8s	remaining: 1m 2s

bestTest = 0.3920776397
bestIteration = 312

48:	loss: 0.3920776	best: 0.3899270 (47)	total: 13.1s	remaining: 1m 1s

bestTest = 0.3936175897
bestIteration = 193

49:	loss: 0.3936176	best: 0.3899270 (47)	total: 13.3s	remaining: 1m 1s

bestTest = 0.4021192333
bestIteration = 493

50:	loss: 0.4021192	best: 0.3899270 (47)	total: 13.5s	remaining: 1m

bestTest = 0.3921166797
bestIteration = 499

51:	loss: 0.3921167	best: 0.3899270 (47)	total: 13.8s	remaining: 1m

bestTest = 0.3899270138
bestIteration = 358

52:	loss: 0.3899270	best: 0.3899270 (47)	total: 14s	remaining: 1m

bestTest = 0.3920776397
bestIteration = 312

53:	loss: 0.3920776	best: 0.3899270 (47)	total: 14.3s	remaining: 59.7s

bestTest = 0.3936175897
bestIteration = 193

54:	loss: 0.3936176	best: 0.3899270 (47)	total: 14.5s	remaining: 59.3s

bestTest = 0.3996299689
bestIteration = 575

55:	loss: 0.3996300	best: 0.3899270 (47)	total: 14.8s	remaining: 59.1s

bestTest = 0.3916451888
bestIteration = 563

56:	loss: 0.3916452	best: 0.3899270 (47)	total: 15.1s	remaining: 58.9s

bestTest = 0.3899270138
bestIteration = 358

57:	loss: 0.3899270	best: 0.3899270 (47)	total: 15.3s	remaining: 58.7s

bestTest = 0.3920776397
bestIteration = 312

58:	loss: 0.3920776	best: 0.3899270 (47)	total: 15.6s	remaining: 58.5s

bestTest = 0.3936175897
bestIteration = 193

59:	loss: 0.3936176	best: 0.3899270 (47)	total: 15.9s	remaining: 58.3s

bestTest = 0.3989735231
bestIteration = 672

60:	loss: 0.3989735	best: 0.3899270 (47)	total: 16.2s	remaining: 58.3s

bestTest = 0.3916451888
bestIteration = 563

61:	loss: 0.3916452	best: 0.3899270 (47)	total: 16.6s	remaining: 58.3s

bestTest = 0.3899270138
bestIteration = 358

62:	loss: 0.3899270	best: 0.3899270 (47)	total: 16.9s	remaining: 58.3s

bestTest = 0.3920776397
bestIteration = 312

63:	loss: 0.3920776	best: 0.3899270 (47)	total: 17.2s	remaining: 58.2s

bestTest = 0.3936175897
bestIteration = 193

64:	loss: 0.3936176	best: 0.3899270 (47)	total: 17.6s	remaining: 58.1s

bestTest = 0.3976812421
bestIteration = 795

65:	loss: 0.3976812	best: 0.3899270 (47)	total: 18s	remaining: 58.2s

bestTest = 0.3916451888
bestIteration = 563

66:	loss: 0.3916452	best: 0.3899270 (47)	total: 18.3s	remaining: 58.3s

bestTest = 0.3899270138
bestIteration = 358

67:	loss: 0.3899270	best: 0.3899270 (47)	total: 18.7s	remaining: 58.4s

bestTest = 0.3920776397
bestIteration = 312

68:	loss: 0.3920776	best: 0.3899270 (47)	total: 19.2s	remaining: 58.8s

bestTest = 0.3936175897
bestIteration = 193

69:	loss: 0.3936176	best: 0.3899270 (47)	total: 19.6s	remaining: 58.9s

bestTest = 0.3949826189
bestIteration = 898

70:	loss: 0.3949826	best: 0.3899270 (47)	total: 20.2s	remaining: 59.4s

bestTest = 0.3916451888
bestIteration = 563

71:	loss: 0.3916452	best: 0.3899270 (47)	total: 20.6s	remaining: 59.5s

bestTest = 0.3899270138
bestIteration = 358

72:	loss: 0.3899270	best: 0.3899270 (47)	total: 21s	remaining: 59.6s

bestTest = 0.3920776397
bestIteration = 312

73:	loss: 0.3920776	best: 0.3899270 (47)	total: 21.5s	remaining: 59.7s

bestTest = 0.3936175897
bestIteration = 193

74:	loss: 0.3936176	best: 0.3899270 (47)	total: 21.9s	remaining: 59.8s

bestTest = 0.3925665197
bestIteration = 979

75:	loss: 0.3925665	best: 0.3899270 (47)	total: 22.4s	remaining: 1m

bestTest = 0.3916451888
bestIteration = 563

76:	loss: 0.3916452	best: 0.3899270 (47)	total: 22.8s	remaining: 1m

bestTest = 0.3899270138
bestIteration = 358

77:	loss: 0.3899270	best: 0.3899270 (47)	total: 23.3s	remaining: 1m

bestTest = 0.3920776397
bestIteration = 312

78:	loss: 0.3920776	best: 0.3899270 (47)	total: 23.9s	remaining: 1m

bestTest = 0.3936175897
bestIteration = 193

79:	loss: 0.3936176	best: 0.3899270 (47)	total: 24.6s	remaining: 1m 1s

bestTest = 0.4021092291
bestIteration = 298

80:	loss: 0.4021092	best: 0.3899270 (47)	total: 24.8s	remaining: 1m

bestTest = 0.3937842812
bestIteration = 270

81:	loss: 0.3937843	best: 0.3899270 (47)	total: 25s	remaining: 1m

bestTest = 0.386036983
bestIteration = 295

82:	loss: 0.3860370	best: 0.3860370 (82)	total: 25.2s	remaining: 59.9s

bestTest = 0.381264029
bestIteration = 287

83:	loss: 0.3812640	best: 0.3812640 (83)	total: 25.4s	remaining: 59.3s

bestTest = 0.3858453974
bestIteration = 227

84:	loss: 0.3858454	best: 0.3812640 (83)	total: 25.6s	remaining: 58.6s

bestTest = 0.3968513416
bestIteration = 398

85:	loss: 0.3968513	best: 0.3812640 (83)	total: 25.9s	remaining: 58.5s

bestTest = 0.3923706897
bestIteration = 399

86:	loss: 0.3923707	best: 0.3812640 (83)	total: 26.1s	remaining: 58s

bestTest = 0.3806896863
bestIteration = 355

87:	loss: 0.3806897	best: 0.3806897 (87)	total: 26.5s	remaining: 57.8s

bestTest = 0.381264029
bestIteration = 287

88:	loss: 0.3812640	best: 0.3806897 (87)	total: 26.7s	remaining: 57.4s

bestTest = 0.3858453974
bestIteration = 227

89:	loss: 0.3858454	best: 0.3806897 (87)	total: 27s	remaining: 56.9s

bestTest = 0.3944019286
bestIteration = 482

90:	loss: 0.3944019	best: 0.3806897 (87)	total: 27.2s	remaining: 56.6s

bestTest = 0.3903108521
bestIteration = 455

91:	loss: 0.3903109	best: 0.3806897 (87)	total: 27.5s	remaining: 56.3s

bestTest = 0.3806896863
bestIteration = 355

92:	loss: 0.3806897	best: 0.3806897 (87)	total: 27.8s	remaining: 55.9s

bestTest = 0.381264029
bestIteration = 287

93:	loss: 0.3812640	best: 0.3806897 (87)	total: 28.1s	remaining: 55.6s

bestTest = 0.3858453974
bestIteration = 227

94:	loss: 0.3858454	best: 0.3806897 (87)	total: 28.4s	remaining: 55.3s

bestTest = 0.3929626167
bestIteration = 599

95:	loss: 0.3929626	best: 0.3806897 (87)	total: 28.7s	remaining: 55s

bestTest = 0.3901319298
bestIteration = 507

96:	loss: 0.3901319	best: 0.3806897 (87)	total: 29.1s	remaining: 54.8s

bestTest = 0.3806896863
bestIteration = 355

97:	loss: 0.3806897	best: 0.3806897 (87)	total: 29.4s	remaining: 54.6s

bestTest = 0.381264029
bestIteration = 287

98:	loss: 0.3812640	best: 0.3806897 (87)	total: 29.7s	remaining: 54.4s

bestTest = 0.3858453974
bestIteration = 227

99:	loss: 0.3858454	best: 0.3806897 (87)	total: 30.1s	remaining: 54.1s

bestTest = 0.3923129011
bestIteration = 614

100:	loss: 0.3923129	best: 0.3806897 (87)	total: 30.7s	remaining: 54.3s

bestTest = 0.3901319298
bestIteration = 507

101:	loss: 0.3901319	best: 0.3806897 (87)	total: 31.1s	remaining: 54.2s

bestTest = 0.3806896863
bestIteration = 355

102:	loss: 0.3806897	best: 0.3806897 (87)	total: 31.5s	remaining: 54.1s

bestTest = 0.381264029
bestIteration = 287

103:	loss: 0.3812640	best: 0.3806897 (87)	total: 32.1s	remaining: 54.4s

bestTest = 0.3858453974
bestIteration = 227

104:	loss: 0.3858454	best: 0.3806897 (87)	total: 32.5s	remaining: 54.2s

bestTest = 0.3923129011
bestIteration = 614

105:	loss: 0.3923129	best: 0.3806897 (87)	total: 33s	remaining: 54.1s

bestTest = 0.3901319298
bestIteration = 507

106:	loss: 0.3901319	best: 0.3806897 (87)	total: 33.4s	remaining: 54.1s

bestTest = 0.3806896863
bestIteration = 355

107:	loss: 0.3806897	best: 0.3806897 (87)	total: 33.9s	remaining: 54s

bestTest = 0.381264029
bestIteration = 287

108:	loss: 0.3812640	best: 0.3806897 (87)	total: 34.3s	remaining: 53.9s

bestTest = 0.3858453974
bestIteration = 227

109:	loss: 0.3858454	best: 0.3806897 (87)	total: 34.8s	remaining: 53.8s

bestTest = 0.3908994776
bestIteration = 877

110:	loss: 0.3908995	best: 0.3806897 (87)	total: 35.3s	remaining: 53.7s

bestTest = 0.3901319298
bestIteration = 507

111:	loss: 0.3901319	best: 0.3806897 (87)	total: 35.8s	remaining: 53.7s

bestTest = 0.3806896863
bestIteration = 355

112:	loss: 0.3806897	best: 0.3806897 (87)	total: 36.3s	remaining: 53.6s

bestTest = 0.381264029
bestIteration = 287

113:	loss: 0.3812640	best: 0.3806897 (87)	total: 36.8s	remaining: 53.6s

bestTest = 0.3858453974
bestIteration = 227

114:	loss: 0.3858454	best: 0.3806897 (87)	total: 37.3s	remaining: 53.5s

bestTest = 0.3898848384
bestIteration = 956

115:	loss: 0.3898848	best: 0.3806897 (87)	total: 37.9s	remaining: 53.5s

bestTest = 0.3901319298
bestIteration = 507

116:	loss: 0.3901319	best: 0.3806897 (87)	total: 38.4s	remaining: 53.5s

bestTest = 0.3806896863
bestIteration = 355

117:	loss: 0.3806897	best: 0.3806897 (87)	total: 39s	remaining: 53.5s

bestTest = 0.381264029
bestIteration = 287

118:	loss: 0.3812640	best: 0.3806897 (87)	total: 39.5s	remaining: 53.5s

bestTest = 0.3858453974
bestIteration = 227

119:	loss: 0.3858454	best: 0.3806897 (87)	total: 40.1s	remaining: 53.5s

bestTest = 0.3927896075
bestIteration = 295

120:	loss: 0.3927896	best: 0.3806897 (87)	total: 40.3s	remaining: 53s

bestTest = 0.3829424486
bestIteration = 283

121:	loss: 0.3829424	best: 0.3806897 (87)	total: 40.5s	remaining: 52.5s

bestTest = 0.3853357622
bestIteration = 157

122:	loss: 0.3853358	best: 0.3806897 (87)	total: 40.8s	remaining: 52.1s

bestTest = 0.39027917
bestIteration = 223

123:	loss: 0.3902792	best: 0.3806897 (87)	total: 41.1s	remaining: 51.7s

bestTest = 0.3909277839
bestIteration = 205

124:	loss: 0.3909278	best: 0.3806897 (87)	total: 41.3s	remaining: 51.2s

bestTest = 0.3901957912
bestIteration = 399

125:	loss: 0.3901958	best: 0.3806897 (87)	total: 41.6s	remaining: 50.9s

bestTest = 0.3829424486
bestIteration = 283

126:	loss: 0.3829424	best: 0.3806897 (87)	total: 42s	remaining: 50.5s

bestTest = 0.3853357622
bestIteration = 157

127:	loss: 0.3853358	best: 0.3806897 (87)	total: 42.2s	remaining: 50.2s

bestTest = 0.39027917
bestIteration = 223

128:	loss: 0.3902792	best: 0.3806897 (87)	total: 42.6s	remaining: 49.8s

bestTest = 0.3909277839
bestIteration = 205

129:	loss: 0.3909278	best: 0.3806897 (87)	total: 42.9s	remaining: 49.5s

bestTest = 0.3881629836
bestIteration = 490

130:	loss: 0.3881630	best: 0.3806897 (87)	total: 43.3s	remaining: 49.2s

bestTest = 0.3829424486
bestIteration = 283

131:	loss: 0.3829424	best: 0.3806897 (87)	total: 43.6s	remaining: 48.9s

bestTest = 0.3853357622
bestIteration = 157

132:	loss: 0.3853358	best: 0.3806897 (87)	total: 44s	remaining: 48.7s

bestTest = 0.39027917
bestIteration = 223

133:	loss: 0.3902792	best: 0.3806897 (87)	total: 44.5s	remaining: 48.5s

bestTest = 0.3909277839
bestIteration = 205

134:	loss: 0.3909278	best: 0.3806897 (87)	total: 44.9s	remaining: 48.2s

bestTest = 0.387208421
bestIteration = 580

135:	loss: 0.3872084	best: 0.3806897 (87)	total: 45.3s	remaining: 48s

bestTest = 0.3829424486
bestIteration = 283

136:	loss: 0.3829424	best: 0.3806897 (87)	total: 45.8s	remaining: 47.8s

bestTest = 0.3853357622
bestIteration = 157

137:	loss: 0.3853358	best: 0.3806897 (87)	total: 46.2s	remaining: 47.5s

bestTest = 0.39027917
bestIteration = 223

138:	loss: 0.3902792	best: 0.3806897 (87)	total: 46.6s	remaining: 47.2s

bestTest = 0.3909277839
bestIteration = 205

139:	loss: 0.3909278	best: 0.3806897 (87)	total: 46.9s	remaining: 46.9s

bestTest = 0.3871380328
bestIteration = 623

140:	loss: 0.3871380	best: 0.3806897 (87)	total: 47.4s	remaining: 46.7s

bestTest = 0.3829424486
bestIteration = 283

141:	loss: 0.3829424	best: 0.3806897 (87)	total: 47.9s	remaining: 46.5s

bestTest = 0.3853357622
bestIteration = 157

142:	loss: 0.3853358	best: 0.3806897 (87)	total: 48.5s	remaining: 46.4s

bestTest = 0.39027917
bestIteration = 223

143:	loss: 0.3902792	best: 0.3806897 (87)	total: 48.9s	remaining: 46.2s

bestTest = 0.3909277839
bestIteration = 205

144:	loss: 0.3909278	best: 0.3806897 (87)	total: 49.4s	remaining: 46s

bestTest = 0.3868177783
bestIteration = 718

145:	loss: 0.3868178	best: 0.3806897 (87)	total: 49.9s	remaining: 45.8s

bestTest = 0.3829424486
bestIteration = 283

146:	loss: 0.3829424	best: 0.3806897 (87)	total: 50.6s	remaining: 45.8s

bestTest = 0.3853357622
bestIteration = 157

147:	loss: 0.3853358	best: 0.3806897 (87)	total: 51.2s	remaining: 45.7s

bestTest = 0.39027917
bestIteration = 223

148:	loss: 0.3902792	best: 0.3806897 (87)	total: 51.7s	remaining: 45.5s

bestTest = 0.3909277839
bestIteration = 205

149:	loss: 0.3909278	best: 0.3806897 (87)	total: 52.4s	remaining: 45.4s

bestTest = 0.3868177783
bestIteration = 718

150:	loss: 0.3868178	best: 0.3806897 (87)	total: 53.1s	remaining: 45.4s

bestTest = 0.3829424486
bestIteration = 283

151:	loss: 0.3829424	best: 0.3806897 (87)	total: 53.7s	remaining: 45.3s

bestTest = 0.3853357622
bestIteration = 157

152:	loss: 0.3853358	best: 0.3806897 (87)	total: 54.4s	remaining: 45.2s

bestTest = 0.39027917
bestIteration = 223

153:	loss: 0.3902792	best: 0.3806897 (87)	total: 55s	remaining: 45s

bestTest = 0.3909277839
bestIteration = 205

154:	loss: 0.3909278	best: 0.3806897 (87)	total: 55.7s	remaining: 44.9s

bestTest = 0.3868177783
bestIteration = 718

155:	loss: 0.3868178	best: 0.3806897 (87)	total: 56.4s	remaining: 44.8s

bestTest = 0.3829424486
bestIteration = 283

156:	loss: 0.3829424	best: 0.3806897 (87)	total: 57.2s	remaining: 44.8s

bestTest = 0.3853357622
bestIteration = 157

157:	loss: 0.3853358	best: 0.3806897 (87)	total: 57.9s	remaining: 44.7s

bestTest = 0.39027917
bestIteration = 223

158:	loss: 0.3902792	best: 0.3806897 (87)	total: 58.8s	remaining: 44.7s

bestTest = 0.3909277839
bestIteration = 205

159:	loss: 0.3909278	best: 0.3806897 (87)	total: 59.6s	remaining: 44.7s

bestTest = 0.3850965702
bestIteration = 299

160:	loss: 0.3850966	best: 0.3806897 (87)	total: 59.9s	remaining: 44.2s

bestTest = 0.382964415
bestIteration = 206

161:	loss: 0.3829644	best: 0.3806897 (87)	total: 1m	remaining: 43.8s

bestTest = 0.3800638794
bestIteration = 178

162:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m	remaining: 43.4s

bestTest = 0.381724228
bestIteration = 190

163:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m	remaining: 42.9s

bestTest = 0.3850803414
bestIteration = 73

164:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 1s	remaining: 42.6s

bestTest = 0.3815993682
bestIteration = 379

165:	loss: 0.3815994	best: 0.3800639 (162)	total: 1m 1s	remaining: 42.2s

bestTest = 0.381735211
bestIteration = 328

166:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 1s	remaining: 41.9s

bestTest = 0.3800638794
bestIteration = 178

167:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 2s	remaining: 41.6s

bestTest = 0.381724228
bestIteration = 190

168:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 2s	remaining: 41.2s

bestTest = 0.3850803414
bestIteration = 73

169:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 3s	remaining: 40.8s

bestTest = 0.3812893722
bestIteration = 499

170:	loss: 0.3812894	best: 0.3800639 (162)	total: 1m 3s	remaining: 40.5s

bestTest = 0.381735211
bestIteration = 328

171:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 4s	remaining: 40.2s

bestTest = 0.3800638794
bestIteration = 178

172:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 4s	remaining: 39.9s

bestTest = 0.381724228
bestIteration = 190

173:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 4s	remaining: 39.5s

bestTest = 0.3850803414
bestIteration = 73

174:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 5s	remaining: 39.2s

bestTest = 0.3812814142
bestIteration = 525

175:	loss: 0.3812814	best: 0.3800639 (162)	total: 1m 5s	remaining: 38.9s

bestTest = 0.381735211
bestIteration = 328

176:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 6s	remaining: 38.6s

bestTest = 0.3800638794
bestIteration = 178

177:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 6s	remaining: 38.3s

bestTest = 0.381724228
bestIteration = 190

178:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 7s	remaining: 38s

bestTest = 0.3850803414
bestIteration = 73

179:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 8s	remaining: 37.8s

bestTest = 0.3812814142
bestIteration = 525

180:	loss: 0.3812814	best: 0.3800639 (162)	total: 1m 8s	remaining: 37.6s

bestTest = 0.381735211
bestIteration = 328

181:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 9s	remaining: 37.4s

bestTest = 0.3800638794
bestIteration = 178

182:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 10s	remaining: 37.2s

bestTest = 0.381724228
bestIteration = 190

183:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 11s	remaining: 37.1s

bestTest = 0.3850803414
bestIteration = 73

184:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 11s	remaining: 36.9s

bestTest = 0.3812814142
bestIteration = 525

185:	loss: 0.3812814	best: 0.3800639 (162)	total: 1m 12s	remaining: 36.7s

bestTest = 0.381735211
bestIteration = 328

186:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 13s	remaining: 36.4s

bestTest = 0.3800638794
bestIteration = 178

187:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 13s	remaining: 36.2s

bestTest = 0.381724228
bestIteration = 190

188:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 14s	remaining: 35.9s

bestTest = 0.3850803414
bestIteration = 73

189:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 15s	remaining: 35.7s

bestTest = 0.3812814142
bestIteration = 525

190:	loss: 0.3812814	best: 0.3800639 (162)	total: 1m 16s	remaining: 35.5s

bestTest = 0.381735211
bestIteration = 328

191:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 17s	remaining: 35.4s

bestTest = 0.3800638794
bestIteration = 178

192:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 18s	remaining: 35.2s

bestTest = 0.381724228
bestIteration = 190

193:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 19s	remaining: 35.1s

bestTest = 0.3850803414
bestIteration = 73

194:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 20s	remaining: 34.9s

bestTest = 0.3812814142
bestIteration = 525

195:	loss: 0.3812814	best: 0.3800639 (162)	total: 1m 21s	remaining: 34.7s

bestTest = 0.381735211
bestIteration = 328

196:	loss: 0.3817352	best: 0.3800639 (162)	total: 1m 22s	remaining: 34.6s

bestTest = 0.3800638794
bestIteration = 178

197:	loss: 0.3800639	best: 0.3800639 (162)	total: 1m 23s	remaining: 34.4s

bestTest = 0.381724228
bestIteration = 190

198:	loss: 0.3817242	best: 0.3800639 (162)	total: 1m 23s	remaining: 34.1s

bestTest = 0.3850803414
bestIteration = 73

199:	loss: 0.3850803	best: 0.3800639 (162)	total: 1m 24s	remaining: 33.9s

bestTest = 0.3840027203
bestIteration = 299

200:	loss: 0.3840027	best: 0.3800639 (162)	total: 1m 25s	remaining: 33.4s

bestTest = 0.379295374
bestIteration = 235

201:	loss: 0.3792954	best: 0.3792954 (201)	total: 1m 25s	remaining: 33s

bestTest = 0.3708138377
bestIteration = 175

202:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 25s	remaining: 32.6s

bestTest = 0.3804788197
bestIteration = 176

203:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 26s	remaining: 32.1s

bestTest = 0.3852727846
bestIteration = 77

204:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 26s	remaining: 31.7s

bestTest = 0.3800260958
bestIteration = 391

205:	loss: 0.3800261	best: 0.3708138 (202)	total: 1m 27s	remaining: 31.3s

bestTest = 0.379295374
bestIteration = 235

206:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 27s	remaining: 30.9s

bestTest = 0.3708138377
bestIteration = 175

207:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 27s	remaining: 30.4s

bestTest = 0.3804788197
bestIteration = 176

208:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 28s	remaining: 30s

bestTest = 0.3852727846
bestIteration = 77

209:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 28s	remaining: 29.6s

bestTest = 0.3788831559
bestIteration = 477

210:	loss: 0.3788832	best: 0.3708138 (202)	total: 1m 29s	remaining: 29.2s

bestTest = 0.379295374
bestIteration = 235

211:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 30s	remaining: 28.9s

bestTest = 0.3708138377
bestIteration = 175

212:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 30s	remaining: 28.6s

bestTest = 0.3804788197
bestIteration = 176

213:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 31s	remaining: 28.2s

bestTest = 0.3852727846
bestIteration = 77

214:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 32s	remaining: 27.8s

bestTest = 0.3788703345
bestIteration = 547

215:	loss: 0.3788703	best: 0.3708138 (202)	total: 1m 32s	remaining: 27.5s

bestTest = 0.379295374
bestIteration = 235

216:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 33s	remaining: 27.1s

bestTest = 0.3708138377
bestIteration = 175

217:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 34s	remaining: 26.8s

bestTest = 0.3804788197
bestIteration = 176

218:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 35s	remaining: 26.5s

bestTest = 0.3852727846
bestIteration = 77

219:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 35s	remaining: 26.1s

bestTest = 0.3788703345
bestIteration = 547

220:	loss: 0.3788703	best: 0.3708138 (202)	total: 1m 36s	remaining: 25.8s

bestTest = 0.379295374
bestIteration = 235

221:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 37s	remaining: 25.5s

bestTest = 0.3708138377
bestIteration = 175

222:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 38s	remaining: 25.1s

bestTest = 0.3804788197
bestIteration = 176

223:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 39s	remaining: 24.8s

bestTest = 0.3852727846
bestIteration = 77

224:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 39s	remaining: 24.4s

bestTest = 0.3788703345
bestIteration = 547

225:	loss: 0.3788703	best: 0.3708138 (202)	total: 1m 40s	remaining: 24.1s

bestTest = 0.379295374
bestIteration = 235

226:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 41s	remaining: 23.8s

bestTest = 0.3708138377
bestIteration = 175

227:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 43s	remaining: 23.5s

bestTest = 0.3804788197
bestIteration = 176

228:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 44s	remaining: 23.2s

bestTest = 0.3852727846
bestIteration = 77

229:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 45s	remaining: 22.9s

bestTest = 0.3788703345
bestIteration = 547

230:	loss: 0.3788703	best: 0.3708138 (202)	total: 1m 46s	remaining: 22.6s

bestTest = 0.379295374
bestIteration = 235

231:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 47s	remaining: 22.3s

bestTest = 0.3708138377
bestIteration = 175

232:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 49s	remaining: 22s

bestTest = 0.3804788197
bestIteration = 176

233:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 50s	remaining: 21.7s

bestTest = 0.3852727846
bestIteration = 77

234:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 51s	remaining: 21.3s

bestTest = 0.3788703345
bestIteration = 547

235:	loss: 0.3788703	best: 0.3708138 (202)	total: 1m 52s	remaining: 21s

bestTest = 0.379295374
bestIteration = 235

236:	loss: 0.3792954	best: 0.3708138 (202)	total: 1m 53s	remaining: 20.6s

bestTest = 0.3708138377
bestIteration = 175

237:	loss: 0.3708138	best: 0.3708138 (202)	total: 1m 55s	remaining: 20.4s

bestTest = 0.3804788197
bestIteration = 176

238:	loss: 0.3804788	best: 0.3708138 (202)	total: 1m 56s	remaining: 20.1s

bestTest = 0.3852727846
bestIteration = 77

239:	loss: 0.3852728	best: 0.3708138 (202)	total: 1m 58s	remaining: 19.7s

bestTest = 0.3743266644
bestIteration = 297

240:	loss: 0.3743267	best: 0.3708138 (202)	total: 1m 58s	remaining: 19.2s

bestTest = 0.3731681582
bestIteration = 201

241:	loss: 0.3731682	best: 0.3708138 (202)	total: 1m 58s	remaining: 18.7s

bestTest = 0.3683885072
bestIteration = 205

242:	loss: 0.3683885	best: 0.3683885 (242)	total: 1m 59s	remaining: 18.2s

bestTest = 0.3847498554
bestIteration = 123

243:	loss: 0.3847499	best: 0.3683885 (242)	total: 1m 59s	remaining: 17.7s

bestTest = 0.3767693111
bestIteration = 116

244:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m	remaining: 17.2s

bestTest = 0.371297717
bestIteration = 391

245:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m	remaining: 16.7s

bestTest = 0.3731681582
bestIteration = 201

246:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 1s	remaining: 16.2s

bestTest = 0.3683885072
bestIteration = 205

247:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 1s	remaining: 15.7s

bestTest = 0.3847498554
bestIteration = 123

248:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 2s	remaining: 15.3s

bestTest = 0.3767693111
bestIteration = 116

249:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 3s	remaining: 14.8s

bestTest = 0.371297717
bestIteration = 391

250:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 4s	remaining: 14.3s

bestTest = 0.3731681582
bestIteration = 201

251:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 4s	remaining: 13.9s

bestTest = 0.3683885072
bestIteration = 205

252:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 5s	remaining: 13.4s

bestTest = 0.3847498554
bestIteration = 123

253:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 6s	remaining: 12.9s

bestTest = 0.3767693111
bestIteration = 116

254:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 7s	remaining: 12.5s

bestTest = 0.371297717
bestIteration = 391

255:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 7s	remaining: 12s

bestTest = 0.3731681582
bestIteration = 201

256:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 8s	remaining: 11.5s

bestTest = 0.3683885072
bestIteration = 205

257:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 9s	remaining: 11.1s

bestTest = 0.3847498554
bestIteration = 123

258:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 10s	remaining: 10.6s

bestTest = 0.3767693111
bestIteration = 116

259:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 11s	remaining: 10.1s

bestTest = 0.371297717
bestIteration = 391

260:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 12s	remaining: 9.64s

bestTest = 0.3731681582
bestIteration = 201

261:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 13s	remaining: 9.17s

bestTest = 0.3683885072
bestIteration = 205

262:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 14s	remaining: 8.7s

bestTest = 0.3847498554
bestIteration = 123

263:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 15s	remaining: 8.23s

bestTest = 0.3767693111
bestIteration = 116

264:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 17s	remaining: 7.75s

bestTest = 0.371297717
bestIteration = 391

265:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 18s	remaining: 7.27s

bestTest = 0.3731681582
bestIteration = 201

266:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 19s	remaining: 6.78s

bestTest = 0.3683885072
bestIteration = 205

267:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 20s	remaining: 6.29s

bestTest = 0.3847498554
bestIteration = 123

268:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 21s	remaining: 5.8s

bestTest = 0.3767693111
bestIteration = 116

269:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 23s	remaining: 5.3s

bestTest = 0.371297717
bestIteration = 391

270:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 24s	remaining: 4.8s

bestTest = 0.3731681582
bestIteration = 201

271:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 26s	remaining: 4.29s

bestTest = 0.3683885072
bestIteration = 205

272:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 27s	remaining: 3.78s

bestTest = 0.3847498554
bestIteration = 123

273:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 28s	remaining: 3.26s

bestTest = 0.3767693111
bestIteration = 116

274:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 30s	remaining: 2.73s

bestTest = 0.371297717
bestIteration = 391

275:	loss: 0.3712977	best: 0.3683885 (242)	total: 2m 31s	remaining: 2.2s

bestTest = 0.3731681582
bestIteration = 201

276:	loss: 0.3731682	best: 0.3683885 (242)	total: 2m 33s	remaining: 1.66s

bestTest = 0.3683885072
bestIteration = 205

277:	loss: 0.3683885	best: 0.3683885 (242)	total: 2m 34s	remaining: 1.11s

bestTest = 0.3847498554
bestIteration = 123

278:	loss: 0.3847499	best: 0.3683885 (242)	total: 2m 36s	remaining: 560ms

bestTest = 0.3767693111
bestIteration = 116

279:	loss: 0.3767693	best: 0.3683885 (242)	total: 2m 37s	remaining: 0us
Estimating final quality...

In [52]:
hyperparams = params['params']

hyperparams

{'depth': 8, 'random_seed': 42, 'iterations': 300, 'learning_rate': 0.03}

In [61]:
scores = []

for lr in grid['learning_rate']:
    for iter_ in grid['iterations']:
        for d in grid['depth']:
            XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = random_state_)
            
            model = CatBoostClassifier(random_state = random_state_,
                                       learning_rate = lr,
                                       iterations = iter_, 
                                       depth = d,
                                       loss_function = 'Logloss',
                                       silent = True)
            
            model.fit(XTrain, YTrain, cat_features = list(set(features_current) & set(cat_features_)))
            
            score = roc_auc_score(YTest, model.predict_proba(XTest).T[1])
            
            print("{0} - {1}".format((lr, iter_, d), score))
            
            scores.append(((lr, iter_, d), score))

(0.01, 300, 2) - 0.8803333333333333
(0.01, 300, 3) - 0.8865476190476191
(0.01, 300, 4) - 0.8878095238095237
(0.01, 300, 5) - 0.8962142857142856
(0.01, 300, 6) - 0.8965
(0.01, 300, 7) - 0.9039761904761905
(0.01, 300, 8) - 0.8992380952380952
(0.01, 400, 2) - 0.8833095238095237
(0.01, 400, 3) - 0.8881428571428571
(0.01, 400, 4) - 0.8895
(0.01, 400, 5) - 0.897
(0.01, 400, 6) - 0.8970238095238094
(0.01, 400, 7) - 0.9027857142857144
(0.01, 400, 8) - 0.8999999999999999
(0.01, 500, 2) - 0.8843571428571428
(0.01, 500, 3) - 0.8905714285714286
(0.01, 500, 4) - 0.8925476190476188
(0.01, 500, 5) - 0.8969999999999999
(0.01, 500, 6) - 0.8987380952380952
(0.01, 500, 7) - 0.9035000000000001
(0.01, 500, 8) - 0.9011904761904762
(0.01, 600, 2) - 0.8858095238095238
(0.01, 600, 3) - 0.8907857142857142
(0.01, 600, 4) - 0.8936190476190475
(0.01, 600, 5) - 0.8980476190476191
(0.01, 600, 6) - 0.8974285714285715
(0.01, 600, 7) - 0.9047142857142857
(0.01, 600, 8) - 0.9023333333333333
(0.01, 700, 2) - 0.8853333333333334
(0.01, 700, 3) - 0.8909285714285713
(0.01, 700, 4) - 0.896095238095238
(0.01, 700, 5) - 0.8969761904761905
(0.01, 700, 6) - 0.9006666666666666
(0.01, 700, 7) - 0.9052380952380952
(0.01, 700, 8) - 0.9032380952380953
(0.01, 800, 2) - 0.8881904761904761
(0.01, 800, 3) - 0.8929523809523808
(0.01, 800, 4) - 0.8974285714285715
(0.01, 800, 5) - 0.8980476190476191
(0.01, 800, 6) - 0.9021904761904761
(0.01, 800, 7) - 0.9058095238095238
(0.01, 800, 8) - 0.9035238095238094
(0.01, 900, 2) - 0.8896904761904763
(0.01, 900, 3) - 0.894047619047619
(0.01, 900, 4) - 0.8974761904761904
(0.01, 900, 5) - 0.8982857142857142
(0.01, 900, 6) - 0.9026666666666665
(0.01, 900, 7) - 0.9031904761904761
(0.01, 900, 8) - 0.9045714285714286
(0.01, 1000, 2) - 0.887142857142857
(0.01, 1000, 3) - 0.8952857142857142
(0.01, 1000, 4) - 0.8982857142857142
(0.01, 1000, 5) - 0.8968571428571429
(0.01, 1000, 6) - 0.9014285714285715
(0.01, 1000, 7) - 0.9034761904761904
(0.01, 1000, 8) - 0.904
(0.02, 300, 2) - 0.8812619047619047
(0.02, 300, 3) - 0.8910476190476191
(0.02, 300, 4) - 0.896142857142857
(0.02, 300, 5) - 0.8998809523809523
(0.02, 300, 6) - 0.9000714285714285
(0.02, 300, 7) - 0.9041904761904762
(0.02, 300, 8) - 0.8985238095238095
(0.02, 400, 2) - 0.8849523809523809
(0.02, 400, 3) - 0.8941428571428571
(0.02, 400, 4) - 0.898452380952381
(0.02, 400, 5) - 0.8996428571428571
(0.02, 400, 6) - 0.9013809523809524
(0.02, 400, 7) - 0.9059047619047619
(0.02, 400, 8) - 0.9024285714285715
(0.02, 500, 2) - 0.8890952380952382
(0.02, 500, 3) - 0.8933333333333333
(0.02, 500, 4) - 0.8957857142857143
(0.02, 500, 5) - 0.9013095238095238
(0.02, 500, 6) - 0.9027142857142857
(0.02, 500, 7) - 0.9036666666666667
(0.02, 500, 8) - 0.9006666666666666
(0.02, 600, 2) - 0.890047619047619
(0.02, 600, 3) - 0.8938333333333333
(0.02, 600, 4) - 0.8959285714285714
(0.02, 600, 5) - 0.9010238095238096
(0.02, 600, 6) - 0.9004761904761904
(0.02, 600, 7) - 0.904047619047619
(0.02, 600, 8) - 0.9013333333333332
(0.02, 700, 2) - 0.893904761904762
(0.02, 700, 3) - 0.8940714285714285
(0.02, 700, 4) - 0.8966904761904761
(0.02, 700, 5) - 0.8996428571428571
(0.02, 700, 6) - 0.9008095238095237
(0.02, 700, 7) - 0.9035238095238096
(0.02, 700, 8) - 0.9015714285714286
(0.02, 800, 2) - 0.8934761904761904
(0.02, 800, 3) - 0.8916904761904761
(0.02, 800, 4) - 0.8962142857142857
(0.02, 800, 5) - 0.8988809523809524
(0.02, 800, 6) - 0.9010476190476191
(0.02, 800, 7) - 0.9034761904761904
(0.02, 800, 8) - 0.9006666666666667
(0.02, 900, 2) - 0.892904761904762
(0.02, 900, 3) - 0.891452380952381
(0.02, 900, 4) - 0.8967142857142856
(0.02, 900, 5) - 0.8989761904761905
(0.02, 900, 6) - 0.8995238095238096
(0.02, 900, 7) - 0.9027619047619047
(0.02, 900, 8) - 0.9006666666666666
(0.02, 1000, 2) - 0.8899285714285714
(0.02, 1000, 3) - 0.890047619047619
(0.02, 1000, 4) - 0.8974761904761905
(0.02, 1000, 5) - 0.8998809523809524
(0.02, 1000, 6) - 0.8992380952380952
(0.02, 1000, 7) - 0.9023333333333333
(0.02, 1000, 8) - 0.9001428571428571
(0.03, 300, 2) - 0.8910476190476191
(0.03, 300, 3) - 0.8928571428571429
(0.03, 300, 4) - 0.8953095238095238
(0.03, 300, 5) - 0.8994047619047619
(0.03, 300, 6) - 0.9018333333333334
(0.03, 300, 7) - 0.9042857142857144
(0.03, 300, 8) - 0.9037857142857142
(0.03, 400, 2) - 0.8928809523809523
(0.03, 400, 3) - 0.8928809523809523
(0.03, 400, 4) - 0.8949761904761904
(0.03, 400, 5) - 0.9023095238095239
(0.03, 400, 6) - 0.9000714285714285
(0.03, 400, 7) - 0.9037619047619047
(0.03, 400, 8) - 0.9027857142857142
(0.03, 500, 2) - 0.8927142857142857
(0.03, 500, 3) - 0.8912142857142856
(0.03, 500, 4) - 0.896547619047619
(0.03, 500, 5) - 0.9029285714285713
(0.03, 500, 6) - 0.8999285714285714
(0.03, 500, 7) - 0.9033809523809525
(0.03, 500, 8) - 0.9035476190476189
(0.03, 600, 2) - 0.896047619047619
(0.03, 600, 3) - 0.8898333333333333
(0.03, 600, 4) - 0.896
(0.03, 600, 5) - 0.9024047619047618
(0.03, 600, 6) - 0.8979761904761904
(0.03, 600, 7) - 0.9015714285714287
(0.03, 600, 8) - 0.9019285714285714
(0.03, 700, 2) - 0.8903571428571428
(0.03, 700, 3) - 0.8897380952380953
(0.03, 700, 4) - 0.8983333333333334
(0.03, 700, 5) - 0.8995952380952381
(0.03, 700, 6) - 0.8978809523809523
(0.03, 700, 7) - 0.9023809523809524
(0.03, 700, 8) - 0.9002380952380952
(0.03, 800, 2) - 0.890547619047619
(0.03, 800, 3) - 0.8900238095238094
(0.03, 800, 4) - 0.8956666666666667
(0.03, 800, 5) - 0.9004523809523809
(0.03, 800, 6) - 0.8974523809523809
(0.03, 800, 7) - 0.9000952380952381
(0.03, 800, 8) - 0.8998095238095237
(0.03, 900, 2) - 0.8893571428571427
(0.03, 900, 3) - 0.8889761904761905
(0.03, 900, 4) - 0.8960476190476191
(0.03, 900, 5) - 0.8993095238095238
(0.03, 900, 6) - 0.896452380952381
(0.03, 900, 7) - 0.9002857142857142
(0.03, 900, 8) - 0.8987619047619048
(0.03, 1000, 2) - 0.8866904761904761
(0.03, 1000, 3) - 0.8885
(0.03, 1000, 4) - 0.894095238095238
(0.03, 1000, 5) - 0.8976904761904763
(0.03, 1000, 6) - 0.8959761904761905
(0.03, 1000, 7) - 0.8983333333333333
(0.03, 1000, 8) - 0.8997619047619047
(0.04, 300, 2) - 0.8923571428571428
(0.04, 300, 3) - 0.8897857142857143
(0.04, 300, 4) - 0.8957857142857143
(0.04, 300, 5) - 0.8955238095238096
(0.04, 300, 6) - 0.9018333333333333
(0.04, 300, 7) - 0.9092142857142858
(0.04, 300, 8) - 0.9023571428571429
(0.04, 400, 2) - 0.8933571428571428
(0.04, 400, 3) - 0.8878571428571428
(0.04, 400, 4) - 0.8967380952380952
(0.04, 400, 5) - 0.8962857142857142
(0.04, 400, 6) - 0.9004523809523809
(0.04, 400, 7) - 0.9050238095238093
(0.04, 400, 8) - 0.8995
(0.04, 500, 2) - 0.8921666666666667
(0.04, 500, 3) - 0.8832380952380953
(0.04, 500, 4) - 0.8967857142857143
(0.04, 500, 5) - 0.8975714285714286
(0.04, 500, 6) - 0.8968809523809524
(0.04, 500, 7) - 0.9025714285714286
(0.04, 500, 8) - 0.897547619047619
(0.04, 600, 2) - 0.8872380952380953
(0.04, 600, 3) - 0.8846190476190475
(0.04, 600, 4) - 0.8964047619047619
(0.04, 600, 5) - 0.8948571428571429
(0.04, 600, 6) - 0.8970238095238096
(0.04, 600, 7) - 0.8999999999999999
(0.04, 600, 8) - 0.895547619047619
(0.04, 700, 2) - 0.8859047619047619
(0.04, 700, 3) - 0.886
(0.04, 700, 4) - 0.8968333333333333
(0.04, 700, 5) - 0.8940476190476191
(0.04, 700, 6) - 0.8975
(0.04, 700, 7) - 0.8994285714285714
(0.04, 700, 8) - 0.8953809523809524
(0.04, 800, 2) - 0.883904761904762
(0.04, 800, 3) - 0.885952380952381
(0.04, 800, 4) - 0.8939761904761904
(0.04, 800, 5) - 0.8926190476190475
(0.04, 800, 6) - 0.8979285714285714
(0.04, 800, 7) - 0.8999523809523807
(0.04, 800, 8) - 0.8953809523809524
(0.04, 900, 2) - 0.8824047619047618
(0.04, 900, 3) - 0.8858571428571429
(0.04, 900, 4) - 0.8920714285714286
(0.04, 900, 5) - 0.8897619047619048
(0.04, 900, 6) - 0.8964523809523809
(0.04, 900, 7) - 0.8981904761904762
(0.04, 900, 8) - 0.895047619047619
(0.04, 1000, 2) - 0.8811904761904762
(0.04, 1000, 3) - 0.8860476190476191
(0.04, 1000, 4) - 0.8906428571428572
(0.04, 1000, 5) - 0.8892380952380953
(0.04, 1000, 6) - 0.8965
(0.04, 1000, 7) - 0.8985238095238095
(0.04, 1000, 8) - 0.8947142857142857
(0.05, 300, 2) - 0.8922142857142857
(0.05, 300, 3) - 0.8919523809523809
(0.05, 300, 4) - 0.8946904761904761
(0.05, 300, 5) - 0.8991666666666666
(0.05, 300, 6) - 0.9008095238095236
(0.05, 300, 7) - 0.9015952380952381
(0.05, 300, 8) - 0.8987380952380952

(0.05, 400, 2) - 0.8866428571428571
(0.05, 400, 3) - 0.8913571428571427
(0.05, 400, 4) - 0.893547619047619
(0.05, 400, 5) - 0.8992619047619047
(0.05, 400, 6) - 0.9017619047619047
(0.05, 400, 7) - 0.8999761904761905
(0.05, 400, 8) - 0.8943095238095238
(0.05, 500, 2) - 0.8853571428571428
(0.05, 500, 3) - 0.8928095238095238
(0.05, 500, 4) - 0.8937857142857143
(0.05, 500, 5) - 0.8973809523809523
(0.05, 500, 6) - 0.8985238095238094
(0.05, 500, 7) - 0.8972142857142856
(0.05, 500, 8) - 0.8936190476190475
(0.05, 600, 2) - 0.8830952380952382
(0.05, 600, 3) - 0.894047619047619
(0.05, 600, 4) - 0.8937142857142857
(0.05, 600, 5) - 0.8950952380952379
(0.05, 600, 6) - 0.8965714285714286
(0.05, 600, 7) - 0.8966428571428571
(0.05, 600, 8) - 0.8900952380952382
(0.05, 700, 2) - 0.8844761904761904
(0.05, 700, 3) - 0.8934285714285716
(0.05, 700, 4) - 0.8896666666666666
(0.05, 700, 5) - 0.8913809523809524
(0.05, 700, 6) - 0.893
(0.05, 700, 7) - 0.8944047619047619
(0.05, 700, 8) - 0.8902857142857143
(0.05, 800, 2) - 0.8830238095238094
(0.05, 800, 3) - 0.8911904761904762
(0.05, 800, 4) - 0.8874285714285713
(0.05, 800, 5) - 0.8908571428571428
(0.05, 800, 6) - 0.8911904761904762
(0.05, 800, 7) - 0.8935
(0.05, 800, 8) - 0.8893809523809523
(0.05, 900, 2) - 0.8824523809523809
(0.05, 900, 3) - 0.8910476190476191
(0.05, 900, 4) - 0.8882857142857143
(0.05, 900, 5) - 0.8906666666666667
(0.05, 900, 6) - 0.8906666666666666
(0.05, 900, 7) - 0.8934047619047619
(0.05, 900, 8) - 0.889142857142857
(0.05, 1000, 2) - 0.881547619047619
(0.05, 1000, 3) - 0.8896190476190475
(0.05, 1000, 4) - 0.888142857142857
(0.05, 1000, 5) - 0.8897619047619048
(0.05, 1000, 6) - 0.8902857142857142
(0.05, 1000, 7) - 0.8944523809523809
(0.05, 1000, 8) - 0.8879047619047619

In [69]:
scores_np = np.array(scores).T

scores_np[0][np.where(scores_np[1] == max(scores_np[1]))], max(scores_np[1])

<ipython-input-69-ad9c0ea410a2>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  scores_np = np.array(scores).T

(array([(0.04, 300, 7)], dtype=object), 0.9092142857142858)

In [92]:
seed = 42

# XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = hyperparams['random_seed'])
XTrain, XTest, YTrain, YTest = train_test_split(df_train[features_current], df_train[y], test_size = 0.33, random_state = seed)
# model = CatBoostClassifier(random_state = hyperparams['random_seed'],
#                            learning_rate = hyperparams['learning_rate'],
#                            iterations = hyperparams['iterations'], 
#                            depth = hyperparams['depth'],
#                            loss_function = 'Logloss',
#                            silent = True)
model_final = CatBoostClassifier(random_state = seed,
                           learning_rate = 0.04,
                           iterations = 300, 
                           depth = 7,
                           loss_function = 'Logloss',
                           silent = True)

In [93]:
model_final.fit(XTrain, YTrain, cat_features = list(set(features_current) & set(cat_features_)))

In [94]:
roc_auc_score(YTest, model_final.predict_proba(XTest).T[1])

0.9092142857142858

# Prediction

## Preprocessing

In [73]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

df_test = pd.read_csv("data/test.csv")

In [74]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [75]:
df_test.loc[df_test["Sex"] == "male", "Sex"] = 1
df_test.loc[df_test["Sex"] == "female", "Sex"] = 0

df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",1,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",1,NaN,1,1,2668,22.3583,NaN,C

In [76]:
onehotObject_ticket = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_ticket.fit(np.array(df_test["Pclass"]).reshape(-1, 1))

tickets_columns = ["ticket_{0}".format(i) for i in onehotObject_ticket.categories_[0]]

onehot_ticket = pd.DataFrame(onehotObject_ticket.transform(np.array(df_test["Pclass"]).reshape(-1, 1)).toarray().astype(int), columns = tickets_columns)

df_test = pd.merge(df_test, onehot_ticket, left_index = True, right_index = True)

df_test.drop("Pclass", axis = 1, inplace = True)

df_test

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_1,ticket_2,ticket_3
0,892,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q,0,0,1
1,893,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S,0,0,1
2,894,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q,0,1,0
3,895,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S,0,0,1
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,8.0500,NaN,S,0,0,1
414,1306,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C,1,0,0
415,1307,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0,1
416,1308,"Ware, Mr. Frederick",1,NaN,0,0,359309,8.0500,NaN,S,0,0,1
417,1309,"Peter, Master. Michael J",1,NaN,1,1,2668,22.3583,NaN,C,0,0,1

In [77]:
df_test["Embarked"].iloc[5] = np.nan

/home/egoluback/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [78]:
df_test["Embarked"].fillna("N", inplace = True)

df_test["Embarked"].value_counts()

S    269
C    102
Q     46
N      1
Name: Embarked, dtype: int64

In [79]:
onehotObject_embarked = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_embarked.fit(np.array(df_test["Embarked"]).reshape(-1, 1))

embarked_columns = ["embarked_{0}".format(i) for i in onehotObject_embarked.categories_[0]]

onehotObject_embarked = pd.DataFrame(onehotObject_embarked.transform(np.array(df_test["Embarked"]).reshape(-1, 1)).toarray().astype(int), columns = embarked_columns)

df_test = pd.merge(df_test, onehotObject_embarked, left_index = True, right_index = True)

df_test.drop("Embarked", axis = 1, inplace = True)

df_test

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,ticket_1,ticket_2,ticket_3,embarked_C,embarked_N,embarked_Q,embarked_S
0,892,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,0,0,1,0,0,1,0
1,893,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,0,0,1,0,0,0,1
2,894,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,0,1,0,0,0,1,0
3,895,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,0,0,1,0,0,0,1
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,"Spector, Mr. Woolf",1,NaN,0,0,A.5. 3236,8.0500,NaN,0,0,1,0,0,0,1
414,1306,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,1,0,0,1,0,0,0
415,1307,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0,0,1,0,0,0,1
416,1308,"Ware, Mr. Frederick",1,NaN,0,0,359309,8.0500,NaN,0,0,1,0,0,0,1
417,1309,"Peter, Master. Michael J",1,NaN,1,1,2668,22.3583,NaN,0,0,1,1,0,0,0

In [80]:
df_test['Age'].fillna(-1, inplace = True)

In [81]:
df_test['Survived'] = np.zeros(df_test.shape[0])

In [82]:
ages_ = ["is_baby", "is_kid", "is_teen", "is_middle", "is_old"]

df_test["is_baby"] = (df_test["Age"] <= 5) & (df_test["Age"] > 0)
df_test["is_kid"] = (df_test["Age"] <= 12) & (df_test["Age"] > 5)
df_test["is_teen"] = (df_test["Age"] <= 20) & (df_test["Age"] > 12)
df_test["is_middle"] = (df_test["Age"] <= 60) & (df_test["Age"] > 20)
df_test["is_old"] = (df_test["Age"] > 60)


df_test

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,ticket_1,...,embarked_C,embarked_N,embarked_Q,embarked_S,Survived,is_baby,is_kid,is_teen,is_middle,is_old
0,892,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,0,...,0,0,1,0,0.0,False,False,False,True,False
1,893,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,0,...,0,0,0,1,0.0,False,False,False,True,False
2,894,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,0,...,0,0,1,0,0.0,False,False,False,False,True
3,895,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,0,...,0,0,0,1,0.0,False,False,False,True,False
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,0,...,0,0,0,1,0.0,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,"Spector, Mr. Woolf",1,-1.0,0,0,A.5. 3236,8.0500,NaN,0,...,0,0,0,1,0.0,False,False,False,False,False
414,1306,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,1,...,1,0,0,0,0.0,False,False,False,True,False
415,1307,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0,...,0,0,0,1,0.0,False,False,False,True,False
416,1308,"Ware, Mr. Frederick",1,-1.0,0,0,359309,8.0500,NaN,0,...,0,0,0,1,0.0,False,False,False,False,False
417,1309,"Peter, Master. Michael J",1,-1.0,1,1,2668,22.3583,NaN,0,...,1,0,0,0,0.0,False,False,False,False,False

In [83]:
df_test['Cabin'].fillna('N', inplace = True)

In [84]:
onehotObject_cabin = OneHotEncoder(handle_unknown = 'ignore')
onehotObject_cabin.fit(np.array(df_test["Cabin"]).reshape(-1, 1))

cabins_columns = ["cabin_{0}".format(i) for i in onehotObject_cabin.categories_[0]]

onehotObject_cabin = pd.DataFrame(onehotObject_cabin.transform(np.array(df_test["Cabin"]).reshape(-1, 1)).toarray().astype(int), columns = cabins_columns)

df_test = pd.merge(df_test, onehotObject_cabin, left_index = True, right_index = True)

df_test.drop("Cabin", axis = 1, inplace = True)

df_test

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,ticket_1,ticket_2,...,cabin_E60,cabin_F,cabin_F E46,cabin_F E57,cabin_F G63,cabin_F2,cabin_F33,cabin_F4,cabin_G6,cabin_N
0,892,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,0,0,...,0,0,0,0,0,0,0,0,0,1
1,893,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
2,894,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,0,1,...,0,0,0,0,0,0,0,0,0,1
3,895,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,0,0,...,0,0,0,0,0,0,0,0,0,1
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,"Spector, Mr. Woolf",1,-1.0,0,0,A.5. 3236,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
414,1306,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,1,0,...,0,0,0,0,0,0,0,0,0,0
415,1307,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,0,...,0,0,0,0,0,0,0,0,0,1
416,1308,"Ware, Mr. Frederick",1,-1.0,0,0,359309,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
417,1309,"Peter, Master. Michael J",1,-1.0,1,1,2668,22.3583,0,0,...,0,0,0,0,0,0,0,0,0,1

## Prediction

In [85]:
features_current

['is_baby',
 'is_kid',
 'is_teen',
 'is_middle',
 'is_old',
 'Age',
 'embarked_C',
 'embarked_N',
 'embarked_Q',
 'embarked_S',
 'Parch',
 'SibSp',
 'ticket_1',
 'ticket_2',
 'ticket_3',
 'Fare',
 'Sex']

In [86]:
_cat = list(set(features_current) & set(cat_features_))

In [95]:
df_test['Survived'] = model_final.predict(df_test[features_current])

In [96]:
df_test

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,ticket_1,ticket_2,...,cabin_E60,cabin_F,cabin_F E46,cabin_F E57,cabin_F G63,cabin_F2,cabin_F33,cabin_F4,cabin_G6,cabin_N
0,892,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,0,0,...,0,0,0,0,0,0,0,0,0,1
1,893,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
2,894,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,0,1,...,0,0,0,0,0,0,0,0,0,1
3,895,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,0,0,...,0,0,0,0,0,0,0,0,0,1
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,"Spector, Mr. Woolf",1,-1.0,0,0,A.5. 3236,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
414,1306,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,1,0,...,0,0,0,0,0,0,0,0,0,0
415,1307,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,0,...,0,0,0,0,0,0,0,0,0,1
416,1308,"Ware, Mr. Frederick",1,-1.0,0,0,359309,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
417,1309,"Peter, Master. Michael J",1,-1.0,1,1,2668,22.3583,0,0,...,0,0,0,0,0,0,0,0,0,1

In [97]:
df_test_result = df_test[["PassengerId", "Survived"]]

In [98]:
df_test_result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [99]:
df_test_result.to_csv("data/test_result.csv", index = False)